{%- comment -%}
Section personnalisée pour la bannière d'accueil (Kibs-Banner).
{%- endcomment -%}

<section class="kibs-banner">
    <div class="container">
        <h1>{{ section.settings.heading }}</h1>
        <p>{{ section.settings.subheading }}</p>
    </div>
</section>
