/* ===============================
   Variables
=============================== */
:root {
    --kibs-color-primary: #b80808;
    --kibs-color-txt-2: #969BA1;
    /* --kibs-color-back: #202124; */
    --kibs-color-back: #F5F5F7;
    --kibs-color-back-2: #303134;
    --kibs-color-border: #3c4043;
    --kibs-white: #fff;

    --kibs-font-primary: 'Ubuntu', sans-serif;
}

/* ===============================
   Global
=============================== */
body {
    font-family: var(--kibs-font-primary);
}

.kibs-color-back-2 {
    background: var(--kibs-color-back-2) !important;
    color: var(--kibs-color-txt-2) !important;
}




